body,
html {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: 黑体;
}
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(34, 34, 34);
}
.background img {
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
.title {
	  position: absolute;
  top: 40px;
  width: 77%;
  height: 70px;
  background-color: rgba(53, 5, 5, 1);
  border: solid 1px;
  text-align: center;
  left: 260px;
  box-shadow: 0px 1px 1px 0px black inset,0px 1px 1px 0px rgb(56, 56, 56);
}
.title p {
	letter-spacing: 5px;
	color: rgb(222, 125, 22);
	font-weight: 100;
	font-size: 35px;
	margin: 19px 0px;
}
.foot {
	  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: rgba(113, 112, 112, 0.28);
  border: solid 1px;
  box-shadow: 0px 0px 1px 0px black inset,0px 1px 1px 0px rgb(145, 145, 145) inset;
}
.foot p {
	position: absolute;
	margin: 0px;
	left: 10px;
	top: 10px;
	color: rgb(222, 125, 22);
}
.close {
	position: absolute;
	right: 20px;
	top: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	  width: 70px;
  height: 25px;
  color: rgb(169, 169, 169);
  font-size: 15px;
  text-align: center;
  line-height: 176%;
	box-shadow: 0px 1px 1px 0px rgb(121, 121, 121) inset,0px 1px 1px 0px rgb(24, 24, 24);
	border-radius: 4px;
	letter-spacing: 5px;
	padding-left: 5px;
	background-color: rgb(43,43,43);
	cursor: default;
}
.noticationbody{
	  position: absolute;
  top: 130px;
  width: 100%;
  height: 60%;
  padding: 0px 0px 0px 280px;
  color: rgb(134, 133, 133);

}
.noticationbody p{

}
.restnotiction{
	position: absolute;
	top: 7px;
	left: 80px;
	width: 30px;
	height: 25px;
	background: rgb(222, 125, 22);
	color: #ffffff;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
	cursor: default;
}

.history-list{
	position: absolute;
	top: 42px;
	left: 0px;
	width: 260px;
	background: inherit;
	z-index: 2;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #000000;
	box-shadow: 0px 0px 1px 0px black inset;
	background: rgb(39, 37, 37);
	overflow-y: auto;
	overflow-x: hidden;
}
.history-list ul{
	list-style: none;
	padding: 0px;
	margin: 0px;

}
.history-list ul li{
	height: 35px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: rgb(74, 74, 74);
	cursor: default;
	line-height: 230%;
}
.history-list ul li:hover{
	background: rgba(61, 61, 61,0.1);
}
.history-list ul li p{
	position: relative;
	  color: rgb(123, 123, 123);
	float: left;
	margin: 0px 5px;
	font-size: 13px;
}
.history-list ul li img{
	position: relative;
	float: left;
	margin: 9px 0px 0px 5px;
}
.history-list ul li span{
	position: relative;
	float: right;
	margin: 0px 5px;
	font-size: 12px;
	 color: rgb(111, 111, 111);
}

.history-list-head{
	  height: 40px;
  width: 260px;
  border: 0px;
  background: rgb(37, 37, 37);
  box-shadow: 0px 0px 1px 0px black inset,0px 1px 1px 0px rgb(116, 116, 116) inset;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: black;
  text-align: center;
  line-height: 240%;
  color: rgb(145, 145, 145);
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: default;
}

.history-list::-webkit-scrollbar{
	width:8px;
	background: rgba(108, 108, 108, 0.3);
	border: 0px;
	border-radius: 3px;
}
.history-list::-webkit-scrollbar-button{
	display: none;
}
.history-list::-webkit-scrollbar-thumb{
	border: 0px;
	border-radius: 3px;
	background: rgba(34, 34, 34, 0.6);
}